<!-- TEMPLATE NAV - ONLY FOR STAGE -->
<nav class="templatenav">
	<ol>
		<li><a href="/ProductionTemplates/index.html">Home</a></li>
		<li><a href="/ProductionTemplates/mastersub.html">Master Sub</a></li>
	</ol>
</nav>
<!-- END TEMPLATE NAV -->